@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* ==============Common CSS========================*/

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a,
span,
a:hover,
a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a:focus,
button:focus,
input:focus,
select:focus {
    outline: none;
}

a {
    text-decoration: none !important;
    /*color: #000 !important;*/
}

a:hover {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    margin: 0;
    padding: 0;
}

input::placeholder,input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color:#222;
}
button {
    font-family: "Poppins", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: inline-block;
}


/*==========================container-css===============================*/

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}
@media (max-width: 1499px) {
    .container {
        max-width: 1340px;
    }
}
@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540pxx;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .logo-home-section .container {
        max-width: 850px !important;
    }
}

/*==========================login-page-css===============================*/

.common_title {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 1.2;
    color: #00A5A8;
}
.common_btn {
    background-color: #00A5A8;
    color: #fff;
    padding: 12px 20px;
    margin: 0 0 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
}
.common_btn:hover {
    opacity: 0.8;
}
.form_inner_bottom {
    text-align: center;
    margin: 0 0 15px 0;
}
.login_main_row {
    max-width: 40%;
    margin: auto;
    padding: 25px 15px;
    border: 2px solid #00a5a8;
    border-radius: 5px;
    background-color: #e8f7f7;
}
.login_main_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form_inner_bottom a {
    color: #00A5A8;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 18px;
    line-height: 1.2;
}
img.avatar {
    width: 100%;
    margin: auto;
    max-width: 45%;
}
.form_inner label {
    font-size: 20px;
    margin: 0 0 10px 0;
    display: inline-block;
    width: 100%;
    line-height: 1.2;
}
.form_inner input {
    width: 100%;
    padding: 12px 10px;
    margin: 0 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form_inner .login_form_btn {
    background-color: #00A5A8;
    color: #fff;
    padding: 12px 20px;
    margin: 0 0 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
}
.imgcontainer {
    text-align: center;
    margin: 0px 0 20px 0;
}





/*=========home-page-css=================*/

li.nav-item.dropdown.afdgh.show .dropdown-menu.show {
    left: -110px !important;
}

ul.top_right_navbar {
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 9px 0;
    gap: 15px;
    align-items: end;
}
ul.top_right_navbar li a,.dropbtn {
    padding: 5px 10px;
    background: #e8f7f7;
    box-shadow: 0px 1px 4px 0px #00000038;
    display: inline-block;
    border:0;
}
.top_header_inner p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 7px 0;
    line-height: 1.2;
}

.top_header_inner {
    background: #00A5A8;
}
.instance_register_main {
    padding: 10px;
    background: #e8f7f7;
    border: 2px solid #00A5A8;
    text-align: center;
    border-radius: 5px;
}
.instance_register_register_show,.instance_register {
    color: #00A5A8;
}
.main_inner_wrapper {
    padding: 8px !important;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
.main_inner_wrapper:hover img.home_app_icon {
    transform: translateY(-4px);
    box-shadow: var(--AppSwitcherIcon-inset-shadow, inset 0 0 0 1px rgba(0, 0, 0, 0.2)), 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 12px 12px rgba(0, 0, 0, 0.03), 0 24px 24px rgba(0, 0, 0, 0.03);
}
.main-home-wrapper_row {
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0 0 0;
}

.main_inner_block {
    width: 16.66666667%;
    margin-bottom: 16px;
}
.home_app_icon {
    width: 100%;
    max-width: 70px;
    aspect-ratio: 1;
    padding: 10px;
    background-color: var(--AppSwitcherIcon-background, white);
    object-fit: cover;
    transform-origin: center bottom;
    transition: box-shadow ease-in 0.1s, transform ease-in 0.1s;
    box-shadow: var(--AppSwitcherIcon-inset-shadow, inset 0 0 0 1px rgba(0, 0, 0, 0.2)), 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 12px 12px rgba(0, 0, 0, 0.03), 0 24px 24px rgba(0, 0, 0, 0.03);
    transform: translateY(-2px);
    border-radius: 0.375rem !important;
}
.home_caption {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #222;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu.afdgh.show {
    left: -110px !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*================ crm-css ====================== */

.main_header_wrapper {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.o_menu_toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

img.crm_logo {
    max-width: 30px !important;
}
.crmtop_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.top_left_navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}
ul.navbar_menu_wapper {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}
ul.navbar_menu_wapper li a {
    font-size: 14px;
    transition: all 0.5s ease;
    color: #222;
    line-height: 1.2;
}

ul.navbar_menu_wapper li a:hover {
    color: #00A5A8;
}
.crmcenter_header {
    padding: 0 20px;
}

.head_new_btn {
    background: #00A5A8;
    color: #fff !important;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 1.2;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.head_new_btn:hover {
    opacity: 0.8;
}
.crm_head_leftside {
    display: flex;
    gap: 10px;
    align-items:center;
    width: 33.33%;
}
.crmcenter_header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_breadcrumb_info {
    display: flex;
    gap: 10px;
}

.head_breadcrumb_info svg {
    width: 20px;
    height: 20px;
    display: block;
}
p.head_breadcrumb_title {
    margin: 0;
    line-height: 1.2;
}
.head_breadcrumb_info a:hover svg {
    fill: #00a5a8;
}
.head_breadcrumb_info a svg {
    transition: all 0.5s ease;
}
.crm_head_centerside input {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px 20px 7px 40px;
}
.heade_search_icon {
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.crm_head_centerside {
    position: relative;
    width: 33.33%;
}
.heade_search_icon svg {
    width: 100%;
    height: auto;
}
.crmright_head_main {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: end;
}
.crm_head_rightside {
    width: 33.33%;
}
.crmright_head_main a svg {
    width: 20px;
    height: auto;
}
.crmright_head_main a {
    padding: 6px;
    display: flex;
    align-items: center;
    background: #a1d7d7;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px #00000038;
    gap:5px;
}
.crmright_head_main a span {
    font-size: 14px;
    color: #222;
    line-height: 1.2;
}

/* ====== */

.crm_content_info {
    display: flex;
    justify-content: space-between;
    white-space: normal;
    /*width: 305px;*/
    padding: 10px;
    border-bottom: 1px solid #00a5a8;
}
.crm_content_info svg {
    width: 25px;
    height: auto;
}
.crm_content_info p {
    margin: 0;
}
section.crm_content {
    padding: 50px 0 0;
    background: #f9fafb;
}
.crm_head_centerside.mob_search_info {
    display: none;
}
.crm_content_col {
    width: 26.66%;
    margin: 0 5px;
    background: #e8f7f7;
    border: 1px solid #00a5a8;
    border-radius: 5px;
}
.crm_content_wapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 78.5vh;
}
.card_review_icon {
    width: 30px;
    height: 30px;
}

.card_review_icon svg {
    width: 100%;
    height: auto;
}
.card_bottom_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.r_card_logo {
    width: 30px;
    height: 30px;
}
.crm_card_row p {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 1.1;
    color: #222;
    font-weight: 600;
}
.crm_card_row span {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 1.1;
    color: #222;
    font-weight: 400;
    display: inline-block;
}
.crm_card_info {
    padding: 15px 10px;
    margin: 10px;
    background: #a1d7d7;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #00000073;
}
.stage_new_info {
    display: flex;
    justify-content: end;
}
.stage_main span svg path {
    stroke: #fff;
}
.stage_main {
    justify-content: center;
    background: #00A5A8;
    color: #fff;
}
p.stage_new_info span {
    display: inline-flex;
}
/*================ responsive-css ====================== */

@media only screen and (max-width: 1199px){
    .login_main_row {
        max-width: 70%;
    }
    .crm_content_info {
        width: 255px;
    }
}

@media only screen and (max-width: 991px){
    .crm_content_col {
        width: 36.66%;
    }
    .crm_head_centerside {
        display: none;
    }
    .crm_head_centerside.mob_search_info {
        display: block;
        width: 80%;
        margin: auto;
    }
    .crmcenter_header_main {
        margin-bottom: 20px;
    }
    section.crm_content {
        padding: 40px 0 0;
    }
}

@media only screen and (max-width: 767px){
    .login_main_row {
        max-width: 70%;
    }
    .common_title {
        font-size: 26px;
    }
    .form_inner label,.form_inner_bottom a {
        font-size: 16px;
    }
    .main_inner_block {
        width: 25%;
    }
    .crm_content_col {
        width: 46.66%;
    }
}
@media (min-width: 576px) {
    ul.crmright_head_main.crmright_head_main__2 {
        display: none;

    }
}
@media only screen and (max-width: 575px){
    .login_main_row {
        max-width: 100%;
    }
    img.avatar {
        max-width: 60%;
    }
    .login_main_row input::placeholder,.login_main_row input {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #222;
    }
    .form_inner input {
        padding: 8px 10px;
    }
    .crmcenter_header_main {
        margin-top: 10px;
    }
    .crmright_head_main {
        justify-content: center;
    }
    .crm_head_leftside {
        width: auto;
        justify-content: center;
    }
    .crm_head_rightside {
        width: auto;
    }
    .crm_content_col {
        width: 100%;
    }
    ul.navbar_menu_wapper li a {
        font-size: 12px;
    }
    .o_menu_toggle {
        gap: 5px;
    }
    ul.navbar_menu_wapper {
        gap: 3px;
    }
    .top_left_navbar {
        gap: 10px;
    }
    .top_left_navbar_menu {
        display: none;
    }
    ul.top_right_navbar {
        padding: 5px 0;
        gap: 8px;
    }
    ul.crmright_head_main.crmright_head_main__1 li:not(:first-child) {
        display: none;
    }
    ul.crmright_head_main.crmright_head_main__1 li:not(:first-child) {
        display: none;
    }
    ul.crmright_head_main.crmright_head_main__1 {
        margin-bottom: 10px;
    }
    ul.crmright_head_main.crmright_head_main__2 {
        flex-direction: column;
        position: absolute;
        top: 100%;
        background: #fff;
        width: 210px;
        left: -180px;
        z-index: 1;
        padding: 10px;
        box-shadow: 0px 1px 4px 0px #00000038;
        border-radius: 5px;
    }
    .crmright_head_inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
}
